<div class="datoscuerpo" [formGroup]="datosperForm" *ngFor="let pd of list">
    <fieldset>
        <div class="row">
            <div class="col-lg-6">
                <h4>Datos de la carrera profesional</h4>
                <br>        
                <p class="text-danger">Escuela Profesional</p>  
                <p class="text-danger">Acreditacion</p>
                <br>  
            </div>
            <div class="col-lg-6">
                <br>
                <br>
                <p class="text-danger">Facultad</p>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-6">
                    <h4>Datos de Egreso</h4>
                    <br>        
                    <p class="text-danger">Año de ingreso </p>
                    <p class="text-danger">Año de egreso</p>
                    <p class="text-danger">Codigo De Egreso</p>
                    <p class="text-danger">Filial Egreso</p>
                    <br>     
                </div>
        </div>
        <div class="row">
                <div class="col-lg-6">
                    <h4>historial de Egresado</h4>
                    <br>        
                    <p class="text-danger">Telefono Fijo</p> 
                    <p class="text-danger">Direccion</p>
                    <br>     
                </div>
                <div class="col-lg-6">
                    <br>
                    <br>
                    <p class="text-danger">Numero Celular</p>
                </div>
        </div>
    </fieldset>
</div>