
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  agregar
</button>
<table class="table" >
    <thead class="thead-secundary bg-success">
      <tr>
        <th scope="col">Cargo</th>
        <th scope="col">Detalle inicio</th>
        <th scope="col">Detalle fin</th>
        <th scope="col">Empresa</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dt of list">
        <td >{{ dt.detalle_cargo }}</td>
        <td>{{ dt.detalle_inicio }}</td>
        <td>{{ dt.detalle_fin }}</td>
        <td>{{ dt.empresa_id }}</td>

        <td> <span class="btn-label"><button class="btn btn-labeled btn-danger"  (click)="delete(dt.detalle_id)">Delete</button></span></td>
        <td ><button type="button"  routerLink="/detalleform/{{ dt.detalle_id }}" routerLinkActive="active" class="btn btn-primary"> editar </button></td>
      </tr>
    </tbody>
</table>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregando</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


    <div class="modal-body">     
        <form [formGroup]="detalleForm" (ngSubmit)="save()">
          <div class="form-row">
              <div [hidden]="false">
                  <input type="text"   type="hidden" formControlName="detalle_id" name="detalle_id" id="detalle_id" >
              </div>
            <div class="form-group col-md-6">Cargo
              <input type="text" class="form-control" id="detalle_cargo" formControlName="detalle_cargo" placeholder="Analista" >
            </div>
            <div class="form-group col-md-6">Fecha de Inicio
              <input type="date" class="form-control"  formControlName="detalle_inicio" id="detalle_inicio" >
            </div>
            <div class="form-group col-md-6">Fecha Fin
            <input type="date" class="form-control" formControlName="detalle_fin" id="detalle_fin" >
            </div>
            <div class="form-group col-md-6">Empresa
            <input type="text" class="form-control" formControlName="empresa_id" id="empresa_id" placeholder="PComputer">
            </div>
          </div>
          <button type="submit" [disabled]="!detalleForm.valid">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>