<div class="row">
    
    <div class="col-sm">
        <a class="navbar-brand"routerLink="/datosgeneralesindex ">
        <div class="card text-white bg-primary mb-3 " style="width: 230px;">
              <img src="../../assets/imagenes/icon-user-slide.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="mostraregresadosindex" class="btn btn" id="aea">Perfil</a>
          </div>
        </div>
      </a> 
    </div>
    <div class="col-sm">
        <a class="navbar-brand"href="https://www.convocatoriasdetrabajo.com/ofertas-de-empleo-para-INGENIEROS-DE-SISTEMAS-9.html">
        <div class="card text-white bg-primary mb-3 " style="width: 230px;">
              <img src="../../assets/imagenes/53011.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="btn btn" id="aea">Oferta Laboral</a>
          </div>
        </div>
      </a> 
    </div>
  <!--
    <div class="col-sm">
        <a class="navbar-brand"routerLink="/ofertaegresado">
        <div class="card text-white bg-primary mb-3 " style="width: 230px;">
              <img src="../../assets/imagenes/103333.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="btn btn" id="aea">Cursos de Actualizacion</a>
          </div>
        </div>
      </a> 
    </div>
    <div class="col-sm">
        <a class="navbar-brand"routerLink="/comentarioenvio">
        <div class="card text-white bg-primary mb-3 " style="width: 230px;">
              <img src="../../assets/imagenes/54916.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="#" class="btn btn" id="aea">Comentarios</a>
          </div>
        </div>
      </a> 
    </div>
  </div>-->
  
