/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~ng-snotify/styles/material.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.ng-invalid:not(form){
	border-left: 5px solid red;
}
.ng-valid:not(form){
	border-left: 5px solid green;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
